.App {
  text-align: center;
}
.App-navbar {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
}

.App-header {

  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;
}

.App-link {
  color: #61dafb;
}

.recipeTable {
  align-items: center;
}

.stuff {
  align-items: center;
}
